altgraph==0.17.4
certifi==2025.11.12
charset-normalizer==3.4.4
et_xmlfile==2.0.0
idna==3.11
lxml==6.0.2
macholib==1.16.3
numpy==2.3.4
openpyxl==3.1.5
openpyxl-utils==0.0.3
packaging==25.0
pandas==2.3.3
pillow==12.0.0
pyinstaller==6.16.0
pyinstaller-hooks-contrib==2025.9
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytz==2025.2
requests==2.32.5
setuptools==80.9.0
six==1.17.0
tzdata==2025.2
urllib3==2.5.0
xlrd==2.0.2
